.c-custom-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 0px;
    padding: .625rem .875rem;
    padding-right: calc(.875rem * 3);
    padding-inline-end: calc(.875rem * 3);
    font: inherit;
    color: var(--body-text-color);
    color: inherit;
    line-height: 1.3;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-xs);
    background-color: var(--body-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.60938L10 12.6094L15 7.60938' stroke='%23667085' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, var(--body-background-color) 0%, var(--body-background-color) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right calc(.875rem * 1.5) top 50%, 0 0;
    background-size: 1em auto, 100%;
}

.label__text.label__text {
    display: flex;
    font-size: .875rem;
    align-items: center;
    gap: .5rem;
    font-size: .875rem;
    font-family: var(--text-font);
    color: inherit;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .25rem;
    margin-block-end: .25rem;
}

input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: .625rem .875rem;
    font: inherit;
    font-size: 1rem;
    display: block;
    min-width: 0;
    // width: 100%;
    max-width: 100%;
    background-color: var(--body-background-color);
    color: inherit;
}

/**************************************************************************************\
 *
 * Multi-select dropdown
 *
 **************************************************************************************/

.combo {
    display: block;
    position: relative;
}

.combo-input {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.10001 0.299997L0.700012 1.7L6.70001 7.7L12.7 1.7L11.3 0.299996L6.70001 4.9L2.10001 0.299997Z' fill='%23444D56'/%3E%3C/svg%3E%0A"),
        linear-gradient(to bottom, var(--body-background-color) 0%, var(--body-background-color) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1rem top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding: .625rem .875rem;
    padding-right: calc(.875rem * 3);
    padding-inline-end: calc(.875rem * 3);
    box-shadow: var(--shadow-xs);

    &::-ms-expand {
        display: none;

        @media screen and (-ms-high-contrast: active) {
            display: block;
        }
    }
}

.open .combo-input {
    border-radius: var(--border-radius);
}


.combo-label {
    display: block;
}

.combo-menu {
    box-shadow: var(--shadow-lg);
    background-color: var(--body-background-color);
    border: 1px solid var(--divider-color);
    border-radius: 4px;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    left: 0;
    position: absolute;
    top: calc(100% + 1rem);
    width: 100%;
    z-index: 100;
}

.open .combo-menu {
    display: block;
}

.combo-option {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: .5rem;
    cursor: pointer;
    color: var(--body-text-color);

    &:hover, &.option-current {
        background-color: var(--color-primary-700);
        color: #fff;
    }

    &[aria-selected="true"] {
        background-color: var(--lightest-background-color);

        &:hover, &.option-current {
            background-color: var(--color-primary-700);
            color: #fff;
        }
    }
}

// styles for the SVG checkbox inside each option
.combo-option svg {
    border-radius: 2px;
    width: 1.25em;
    height: 1.25em;
    margin-right: var(--spacing-2);
    color: var(--lightest-background-color);
    fill: none;
}

.combo-option[aria-selected="true"] svg {
    fill: var(--lightest-background-color);
    color: var(--link-color);
}


// styles for the selected options in the form of pills
ul.selected-options {
    list-style-type: none;
    margin: 0;
    padding: .5rem 0 .25rem 0;
    display: flex;
    flex-wrap: wrap;

    &:empty {
        padding: 0;
    }
}

.remove-option {
    display: inline-flex;
    font-size: var(--step--1);
    align-items: center;
    padding: .25rem .5rem;
    color: inherit;
    border: 1px solid var(--divider-color);
    background: var(--lighter-background-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 .25rem .25rem 0;

    svg {
        margin-left: .25rem;
        margin-inline-start: .25rem;
    }
}


.c-checkbox {
    margin-bottom: var(--spacing-3);
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: relative;
    font-size: var(--fs-xs);
}

.c-checkbox--disabled {
    opacity: .6;
    color: var(--color-gray-5);
}

.c-checkbox--with-description {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    margin: 0;

    padding: var(--spacing-4) 0;
    border-bottom: 1px solid var(--color-gray-3);

    .c-checkbox__label,
    .c-checkbox__description {
        display: block;
        line-height: 1.4;
    }

    .c-checkbox__label {
        font-weight: bold;
        margin-bottom: var(--spacing-1);
    }

    .c-checkbox__text {
        max-width: 75ch;
    }
}

// hide the checkbox accessibly
.c-checkbox input[type="checkbox"] {
    /* remove the checkbox from the page flow, positioning it on top of the SVG */
    position: absolute;
    /* set same dimensions as the SVG */
    width: 1em;
    height: 1em;
    /* hide it */
    opacity: 0;
}

// basic styles for the svg
.c-checkbox svg {
    border-radius: 2px;
    /* set SVG dimensions in ems; i.e. relative to the font size so that it scales with the size of the font. */
    width: 1.5em;
    height: 1.5em;

    margin-right: var(--spacing-2);

    fill: #fff;
    color: var(--color-gray-6);

    /* apply a transition to the elements inside the svg */
    * {
        transition: all 0.1s linear;
    }
}

// style changes inside the svg when the checkbox is checked
.c-checkbox input[type="checkbox"]:checked+svg {
    .cb-bg {
        fill: var(--color-tide);
        color: var(--color-tide);
    }

    .cb-cm {
        stroke: none;
    }
}

.c-checkbox input[type="checkbox"][disabled]+svg,
.c-checkbox input[type="checkbox"][aria-disabled]+svg {
    .cb-bg {
        fill: var(--color-gray-4);
        color: var(--color-gray-5);
    }

    .cb-cm {
        stroke: none;
        fill: var(--color-gray-4);
    }
}

.c-checkbox input[type="checkbox"]:focus+svg {
    outline: 3px solid transparent;
    outline-offset: 3px;

    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-tide);
}

.c-checkbox input[type="checkbox"]:focus:not(:focus-visible)+svg {
    outline: none;
    box-shadow: none;
}

/* WHCM styles */
.c-checkbox svg {
    @media screen and (-ms-high-contrast: active) {
        .cb-bg {
            stroke: windowText;
        }
    }
}

@media screen and (-ms-high-contrast: active) {
    .c-checkbox input[type="checkbox"]:checked~svg {
        .cb-bg {
            fill: windowText;
        }

        .cb-cm {
            stroke: highlight;
        }
    }
}


/* CUSTOM CHECKBOX STYLES */


.c-custom-checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin-bottom: .5rem;
    margin-block-end: .5rem;
}

// hide the checkbox accessibly
.c-custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1em;
    height: 1em;
    opacity: 0;
    left: 0;
    offset-inline-start: 0;
}

// basic styles for the svg
.c-custom-checkbox__icon {
    margin-right: .5rem;
    margin-inline-end: .5rem;

    * {
        transition: all 0.1s linear;
    }
}

.c-custom-checkbox__icon {
    .cm {
        stroke: transparent;
    }
}

.c-custom-checkbox input[type="checkbox"]:checked ~ .c-custom-checkbox__icon {
    .cm { stroke: var(--link-color); }
    .border { stroke: var(--link-color); }
}

.c-custom-checkbox input[type="checkbox"]:focus ~ .c-custom-checkbox__icon {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

.c-custom-checkbox input[type="checkbox"]:focus~.c-custom-checkbox__icon {
    outline: 3px solid transparent;
}

.js-focus-visible .c-custom-checkbox input[type="checkbox"]:focus:not(.focus-visible)~.c-custom-checkbox__icon {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

.c-custom-checkbox input[type="checkbox"]:focus:not(:focus-visible)~.c-custom-checkbox__icon {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

.c-custom-checkbox input[type="checkbox"].focus-visible ~ .c-custom-checkbox__icon {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

.c-custom-checkbox input[type="checkbox"]:focus-visible ~ .c-custom-checkbox__icon {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

/* WHCM styles */
// .c-custom-checkbox svg {
//     @media screen and (-ms-high-contrast: active) {
//         .cb-bg {
//             stroke: windowText;
//         }
//     }
// }

// @media screen and (-ms-high-contrast: active) {
//     .c-custom-checkbox input[type="checkbox"][aria-checked="true"]~svg {
//         color: highlight;
//     }
// }
