.site-header {
    padding: .75rem 0;
    border-top: 4px solid var(--link-color);
    border-bottom: 1px solid var(--divider-color);
    border-block-start: 4px solid var(--link-color);
    border-block-end: 1px solid var(--divider-color);

    .wrapper {
        display: grid;
        align-items: start;
        padding: 0 1rem;

        @media all and (min-width: 1024px) {
            justify-content: space-between;
        }
    }
}

.logo-link {
    justify-self: start;
    flex: none;
    display: inline-flex;
    align-items: center;
    place-content: center;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: .5rem 0;
    text-decoration: none;
    font-family: var(--mono-font);
}

.logo svg {
    display: inline-block;
    margin-bottom: -4px;
    margin-block-end: -4px;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-right: .25rem;
    margin-inline-end: .25rem;
}

.logo__text {
    color: var(--color-neutral-400);
    font-size: var(--step-1);
    font-weight: 500;
    margin-top: -2px;

    @media all and (max-width: 480px) {
        display: none;
    }
}
