.playground__config__download-btn {
    margin: 1rem;
}

[data-config-section-title]  {
    font-size: .875rem;
    font-family: var(--text-font);
    color: inherit;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

[data-config-section] {

}

[data-config-section-toggle] {
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-family: var(--text-font);
    color: inherit;
    font-weight: 400;
    line-height: 1.5;
}

.playground__config-toggle {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: .75rem 1.125rem;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-weight: 500;
    border-radius: var(--border-radius);
    color: var(--headings-color);
    color: var(--link-color);

    &:hover {
        color: var(--link-color);
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        color: var(--color-neutral-400);
        fill: none;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    #ham-top,
    #ham-middle,
    #ham-bottom {
        transition: all .2s linear;
    }

    #ham-top {
        transform-origin: 30px 37px;
    }

    #ham-bottom {
        transform-origin: 30px 63px;
    }

    &[aria-expanded="true"] {
        #ham-middle {
            opacity: 0;
        }

        #ham-top {

            transform: rotate(41deg);
        }

        #ham-bottom {
            transform: rotate(-41deg);
        }
    }
}

.playground__config-options {
    &[data-open="false"] {
        display: none;

        @media all and (min-width: 1023px) {
            display: block;
        }
    }

    &[data-open="true"] {
        display: block;

        @media all and (min-width: 1023px) {
            display: block;
        }
    }
}

.playground__config-options__section {
    border-bottom: 1px solid var(--divider-color);
    padding: .5rem 1rem;
}


/* Styles for the accordion icon */
.config-js .config-icon {
    display: block !important;
    width: 0.75rem;
    height: 0.5rem;
    transform-origin: 50% 50%;
    transition: all 0.1s linear;
    color: inherit;
}

.config-js [aria-expanded="true"] .config-icon {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
