---
layout: base.njk
---

{% include "partials/header.html" %}

<div class="playground-wrapper">
    <section class="playground__config" aria-labelledby="playground__config-toggle">
        <button class="playground__config-toggle" id="playground__config-toggle" hidden>
            <span>Playground Configuration</span>
            <svg width="20" height="20" viewBox="20 20 60 60" aria-hidden="true" focusable="false">
                <path id="ham-top" d="M30,37 L70,37 Z" stroke="currentColor"></path>
                <path id="ham-middle" d="M30,50 L70,50 Z" stroke="currentColor"></path>
                <path id="ham-bottom" d="M30,63 L70,63 Z" stroke="currentColor"></path>
            </svg>
        </button>

        <div class="playground__config-options" id="playground__config-options">
            <h2 data-config-section-title>Share URL</h2>
            <div data-config-section></div>

            <h2 data-config-section-title>Versioning and Config</h2>
            <div data-config-section>
                <div>
                    <label class="label--block" for="eslint-version">
                        <span class="label__text">ESLint Version</span>
                    </label>
                    <select name="eslint-version" id="eslint-version" class="c-custom-select">
                        <option value="one" selected>One</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                    </select>
                </div>
                <div>
                    <label class="label--block" for="ecma-version">
                        <span class="label__text">ECMA Version</span>
                    </label>
                    <select name="ecma-version" id="ecma-version" class="c-custom-select">
                        <option value="one" selected>One</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                    </select>
                </div>
                <div>
                    <label class="label--block" for="source-type">
                        <span class="label__text">Source Type</span>
                    </label>
                    <select name="source-type" id="source-type" class="c-custom-select">
                        <option value="one" selected>One</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                    </select>
                </div>
            </div>

            <h2 data-config-section-title>Environments</h2>
            <div data-config-section></div>

            <h2 data-config-section-title>Rules</h2>
            <div data-config-section></div>

            <h2 data-config-section-title>Plugins</h2>
            <div data-config-section></div>

            <a href="/" download class="c-btn c-btn--primary playground__config__download-btn">Download this config file</a>
        </div>
    </section>

    <main class="playground__editor" id="main" tabindex="-1">

        {{ content | safe }}

    </main>

    <section class="playground__console" aria-labelledby="playground__console-label">
        <span id="playground__console-label" hidden>Console</span>
        {% from 'components/alert.macro.html' import warning, important %}

        {{ warning() }}
        {{ important() }}
    </section>
</div>
